.mat-toolbar {
    height: 64px; /* Adjust height as needed */
    font-size: 24px; /* Adjust font size as needed */
    color: white; /* Text color */
    position: fixed;
    z-index: 100;
    justify-content: center;
}

.cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    margin-left: -8px;
}

.cart-icon {
    right: 20px;
    position: absolute;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #f0f0f0;
    height: 100%;
    position: fixed;
  }

.list-item{
    top: 35px;
    margin: 10px 0;
}

.menu-icon-open {
    left: 300px;
    position: absolute;
}

.menu-icon-closed {
    left: 10px;
    position: absolute;
}