<div class="container">
    <div class="search-bar">
        <input matInput placeholder="Search by restaurant name" [(ngModel)]="searchText" (ngModelChange)="applyFilter()">
    </div>
    <div class="heading">
        <h2>{{filteredRestaurants.length}} restaurants to explore</h2>
    </div>

    <div class="restaurant-card" *ngFor="let restaurant of filteredRestaurants">
        <mat-card class="restaurant-card-content" (click)="goToMenuList(restaurant)">
            <img [src]="'assets/' + restaurant.restroImage" alt="{{ restaurant.restroImage }}" class="menu-image">
            <h2>{{ restaurant.name }}</h2>
            <p>Location: {{ restaurant.location }}</p>
        </mat-card>
    </div>
</div>